@import '../node_modules/mini.css/dist/mini-default.min.css';

form {
  min-width: 300px;
}
.form-control {
  display: flex;
  flex-direction: column;
}

html,
body,
#root
.container {
  height: 100%;
}

.center-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  justify-content: center;
}